# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo local state
.expo/
.expo-shared/

# Metro cache
node_modules/.cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Service account keys (keep private)
internifyu-*.json
internifyu-02de438d5c31.json
internifyu-firebase-adminsdk-fbsvc-2ebeefc245.json

# Test 
amazon-corretto-17-aarch64-macos-jdk.tar.gz
amazon-corretto-17-x64-macos-jdk.tar.gz
amazon-corretto-17.jdk
application-107b016c-85fa-4baa-9ad4-a1fbcd754444.tar.gz